.lightbox {
  position: fixed;
  inset: 0;
  background: #ffffffe6;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.lightbox.active {
  opacity: 1;
  pointer-events: auto;
}

.lightbox img,
.lightbox video {
  max-width: 90%;
  max-height: 90%;
}
